@model IEnumerable<HTTP5125Cumulative1.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>@ViewData["Title"]</h1>

@foreach (HTTP5125Cumulative1.Models.Course Course in Model)
{
    <div>
        <a href="/CoursePage/Show/@Course.CourseId">@Course.CourseCode?.ToUpper()</a>
    </div>
}
